Django==1.9.2
django-celery==3.1.17
django-extensions==1.6.1
django-test-without-migrations==0.4
flower==0.8.4
gunicorn==19.4.1
django-endless-pagination>=1.1
twython>=2.10.1
django-crispy-forms>=1.2.8
python-decouple==3.0
redis==2.10.5
dj-database-url==0.3.0